.form__container {
  padding: 40px;
  width: 80vw;
  margin: 0 auto;
}

.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60vw;
}
.form__shipping,
.form__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__shipping {
  flex-direction: row;
}

.form__title {
}
.form__input-wrap {
}
.form__input {
}
.form__delivery-date {
}

.form__street {
}
.form__house-number {
}
.form__apartment-number {
}
.form__payment {
  display: flex;
  flex-direction: column;
}
.form__input-wrap--radio {
}
.form__gifts {
}
.form__input-wrap--checkbox {
  display: flex;
  justify-content: space-between;
}
.form__comment {
  display: flex;
  flex-direction: column;
}
.form__comment-area {
}
.form__textarea {
  height: 15vw;
  width: 45vw;
}
.form__submit-btn {
}

.form__input-wrap input {
  padding: 15px;
  width: 300px;
}
