.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 90px);
  margin-left: 120px;
  margin-right: 120px;
}

.gallery__item {
  width: 435px;
  margin-bottom: 30px;
}

.gallery__img {
  height: 574px;
  object-fit: cover;
  transition: transform 0.15s linear;
  margin-bottom: 15px;
}

.gallery__img:hover,
.gallery__img:focus {
  cursor: zoom-in;
  transform: scale(1.03);
}

.gallery__title {
  font-family: "Lora", serif;
  margin: 0;
  margin-bottom: 10px;
  color: var(--accent-orange);
}

.gallery__author {
  font-size: 22px;
  color: var(--main-dark-blue);
}

.gallery__price {
  margin-bottom: 10px;
  font-size: 20px;
  color: var(--main-dark-blue);
}

.gallery__btn {
  font-family: "Noto Sans", sans-serif;
  color: var(--main-dark-blue);
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid var(--main-basic-grey);
  border-radius: 50px;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: 0.3s ease 0s;
}

.gallery__btn:hover,
.gallery__btn:focus {
  background-color: var(--accent-dark-blue);
  border: 1px solid var(--accent-dark-blue);
  color: var(--main-basic-white);
}
