:root {
  /* main color pallete */
  --main-basic-white: #ffffff;
  --main-basic-grey: #979797;
  --main-dark-blue: #02354d;
  --main-bcg-grey: #e5e5e5;
  /* accent color pallete */
  --accent-dark-blue: #14699b;
  --accent-orange: #fb6d3a;
  /* font families */
}
